@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital@1&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Ubuntu', sans-serif;
    /*    font-family: 'Ubuntu Mono', monospace; */
}

header {
    background-color: black;
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 800px;
}

header>div {
    background-image: url('../images/fundo.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0.7;
    height: 100%;
    width: 100%;
}


header input {
    display: none;
}

#submenu {
    position: fixed;
    z-index: 1;
    width: 100%;
    opacity: 0.7;

    display: flex;
    justify-content: space-evenly;
    background-color: #152238;
    color: white;
    padding: 2%;
}

#submenu nav {
    width: 100%;
    background-color: #152238;
    color: white;
    position: absolute;
    width: 100%;
}

#submenu input:checked~nav {
    left: 0;
    transition: left 2s;
}

#submenu i {
    width: 10%;
    font-size: 2rem;
    color: white;
    margin-left: 5px;
    margin-right: 5px;
}

#submenu ul {
    width: 90%;
    display: flex;
    justify-content: space-evenly;
}

#submenu a {
    color: aliceblue;
}

#fechar {
    font-size: 0.8rem;
    background-color: orangered;
    color: rgb(6, 1, 14);
}

#lbfechar {
      
    position: absolute;
    top: 0px;
    left: 90%;;
}



#apresentacao {
    display: flex;
    align-items: baseline;
}

#imgFoto {
    border-radius: 50%;
}

#saudacao {
    color: white;

    opacity: 1;
}

#saudacao h1 {
    color: #f5ed7e;
    opacity: 1;
}

#saudacao button {
    background-color: #4fdfdf;
    font-size: large;
    padding: 10px;
}


#aboutme {
    display: flex;
    align-items: center;
    margin-bottom: 2%;
}

#projects, #pinturas {
    text-align: justify;
    display: flex;
    align-items: center;

}

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
    transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* Add some padding inside the card container */
.container {
    padding: 2px 16px;
    text-align: center;
}



main {
    width: 70%;
    margin: auto;
}

main h1, h3 {
    color: #4a3692;
    margin-top: 2%;

}

main hr {
    margin-top: 3%;
}

@keyframes transicao {
    0% {
        color: #4a3692
    }

    50% {
        color: white
    }

    100% {
        color: #4a3692
    }

}

.animacao {
    animation-name: transicao;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #152238;
    color: white;
    padding: 1%;
    margin-top: 3%;
}

footer ul {
    display: flex;
}


footer ul li {
    margin-right: 6px;
}

footer img {
    width: 1.8rem;
}


table {
    width: 100%;
    margin: 0 auto;
    margin-top: 20px;
    border-spacing: 0;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

th {
    font-size: 130%;
    font-weight: bold;
    padding: 5px 0;
    background-color: #3f3b80;
    border: 1px solid #ccc;
    color: white;

}

tr, tr {
    border: thin solid #CCC;
    border-bottom: none;
    border-right: none;
    padding: 5px;
    font-size: medium;
    color: rgb(136, 131, 131);
}

td {
    text-align: center;
}


@media only screen and (min-width: 200px) and (max-width: 719px) {

    header {
        height: 900px;
    }

    #submenu {
        justify-content: start;
    }

    #submenu > label {
        display: block;
    }

    #submenu nav {
        left: -100%;
             
    }

    #submenu ul {
        flex-direction: column;
    }

    #submenu li {
        font-size: 200%;
        padding: 4% ;
    }

    #lbfechar{
        display:block;
    }

    #apresentacao {
        flex-direction: column;
        align-items: center;
        padding: 30% 10px;
    }

    #imgFoto {
        width: 70%;
        margin-top: 15%;
    }

    #saudacao {
        width: 90%;
        font-size: large;
    }

    #aboutme {
        flex-direction: column-reverse;
    }

    #divaboutme {
        width: 100%;
        margin: 5px;
    }


    #divmoto {
        width: 100%;
    }

    #imgmMoto {
        border-radius: 10%;
        margin: 20px 5px;
        width: 90%;
    }

    #projects, #pinturas {
        align-items: center;
        margin-bottom: 1%;
        margin-top: 1%;
        margin-bottom: 1%;

        flex-direction: column;
    }

    .card {
        width: 90%;
    }
}

@media only screen and (min-width: 720px) {

    header {
        height: 800px;
    }
    

    #submenu > label {
        display: none;
    }

    #submenu nav {
        left: 0;
        padding-bottom: 1%;
        transition: 0;
    }

    #submenu ul {
        flex-direction: row;
    }
    
    #lbfechar{
        display:none;
    }

    #apresentacao {
        flex-direction: row-reverse;
        justify-content: space-evenly;
        padding: 10% 3% 3% 3%;
    }

    #aboutme {
        flex-direction: row;
    }

    #divaboutme {
        width: 70%;
        margin: 5px;
    }

    #divmoto {
        width: 30%;
    }

    #imgmMoto {
        border-radius: 10%;
        margin: 5px;
        width: 90%;
    }

    #divmoto h3 {
        display: none;
    }

    #projects, #pinturas {
        align-items: center;
        margin-bottom: 2%;
        margin-top: 2%;
        margin-bottom: 2%;
        justify-content: space-between;
        flex-direction: row;
    }

    .card {
        width: 30%;
    }

}

@media only screen and (min-width: 720px) and (max-width: 1800px) {

    #apresentacao {
        justify-content: space-evenly;
        padding: 9% 3% 3% 3%;
    }

    #imgFoto {
        width: 30%;
    }

    #saudacao {
        width: 40%;
        font-size: 20px;
    }

}

@media only screen and (min-width: 1801px) and (max-width: 3000px) {

    
    #apresentacao{
        flex-direction: row;
    }
    #apresentacao {
        padding: 6% 3% 3% 3%;
    }

    #imgFoto {
        width: 25%;
    }

    #saudacao {
        width: 40%;
        font-size: 25px;
    }

}
